<nav>
  <div class="nav-center">
    <h1><a href="/doc/dashboard">{{title}}</a></h1>
    <div>
        <a href="/doc/logout">logout </a>
        <a href="#" onclick="document.getElementById('add-doc-modal').style.display='block'">new </a>
    </div>
  </div>
</nav>
{{> doc/new_doc_modal}}