    {{> doc/nav }}
    <div class="container-fluid">
    {{#if messages}}
      <center>
        <div class="alert mt-2 alert-default" role="alert" id='alert'>
          {{messages}}
        </div>
      </center>
    {{/if}}
      <main>
        <br>
        <center>
          <a href="./view-training" class="btn">
          To be trained
          </a>
        </center> 
      </main>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#alert').delay(2500).slideUp(500);
      });

      //modal
      var modal = document.getElementById('add-doc-modal');

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>