<div id="id01" class="modal">
	<span onclick="document.getElementById('id01').style.display='none'" class="close">×
	</span>
	<form id='new-guest' action="guest/new-guest" method="POST">
	  <center>
	  	<h5>Your details please</h5>
	  </center>
	  <div class="form-row">
	    <label for="firstname"> enter your firstname </label>
	    <input type="text" name="firstname" id="firstname" autocomplete="false" required/>
	  </div>
	  <div class="form-row">
	    <label for="lastname"> enter your lastname </label>
	    <input type="text" name="lastname" id="lastname" autocomplete="false" required/>
	  </div>
	  <button id='new-guest-btn' type="submit" class="block">submit</button>
	  <center>
	  	<p style="font-size:0.8em; margin-top:15px;">
	  		have a PID? &nbsp;
	  		<a href="/">Continue here...</a>
	  	</p>
	  </center>	  
	</form>
</div>